.portfolio-container {
  margin: 2rem 5rem;
}

.portfolio-header {
  text-align: center;
}

.portfolio-box img {
  width: 100%;
  border-radius: 25px;
  transition: 0.5s;
  opacity: 50%;
}
.portfolio-box img:hover {
  opacity: 100%;
  transition: 0.5s;
}

.portfolio-box {
  margin: 10px;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 25px;
  background-color: black;
}

.portfolio-box .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
