.skills-container {
  margin: 5rem;
}

.skills-container h1 {
  text-align: center;
}
.bars {
  width: 90%;

  float: left;
  text-align: left;
}
.bars .skills {
  margin-top: 26px;
  list-style: none;
}
.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 26px;
  border-radius: 3px;
}
.bars li em {
  font: 15px;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  top: -36px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 26px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}
