.about-section {
  margin: 7rem 5rem;
}

.about-heading h1 {
  color: orange;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.about-img {
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
  margin: auto;
  width: 60%;
}

.about-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.intro p {
  font-size: 1.2rem;
}

.about-me h1 {
  font-size: 1.7rem;
  color: orange;
}

/* hire button */
.hire-btn {
  height: 80px;
}

.hire-btn .link_wrapper {
  position: absolute;
}

.hire-btn a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.hire-btn .icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.hire-btn .icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #e49e35;
  transition: all 0.35s;
}

.hire-btn a:hover {
  width: 200px;
  border: 3px solid #e49e35;
  background: transparent;
  color: #f8c10a;
}

.hire-btn a:hover + .icon {
  border: 3px solid #e49e35;
  right: -22%;
}
