.works-container {
  padding: 4rem 5rem;
  background-color: rgb(231, 231, 231);
}

.works-header {
  text-align: center;
  font-size: 18px;
}

.works-box img {
  width: 100%;
  border-radius: 25px;
  transition: 0.5s;
  opacity: 50%;
}
.works-box img:hover {
  opacity: 100%;
  transition: 0.5s;
}

.works-box {
  margin: 10px;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 25px;
  background-color: black;
}

.works-box .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
